version: "3"

volumes:
  postgres-data:

services:
  db:
    image: postgres:14.3-alpine
    ports:
      - "5432:5432"
    expose:
      - 5432
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "pypi"
    volumes:
      # connect db to volume not to lose data after stop
      - postgres-data:/var/lib/postgresql/data
      # populate db with data
      - ./db_dump.sql:/docker-entrypoint-initdb.d

  app:
    build: .
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "postgresql+asyncpg://postgres:admin@db:5432/pypi"
    depends_on:
      - db
