{% extends "base.html" %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/package.css') }}">
{% endblock %}

{% block content %}

    <div class="content details">
        <div class="hero">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <h1>
                        {{ project.id }} {{ latest_release.version }}
                    </h1>

                    <div class="install sub-hero">
                        pip install
                        {% if not is_latest %}
                            {{ project.id }}<span>=={{ latest_release.version }}</span>
                        {% else %}
                            {{ project.id }}
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-2 active-release">

                    {% if is_latest %}
                        <div class="go-latest-button">
                            Latest version
                        </div>
                    {% else %}
                        <div class="go-older-button">
                            <a href="/project/{{ project.id }}">
                                Newer version available
                            </a>
                        </div>
                    {% endif %}

                    <div class="latest-release-date">
                        Last release:
                        {% if latest_release %}
                            <span>
                                {{ latest_release.created_date.date() }}
                            </span>
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

        <div class="row pypi-stats">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                {{ project.summary }}
            </div>
        </div>

        <div class="project-list container">
            <div class="row">
                <div class="col-sm-3 nav-sidebar-section">

                    <h3>Navigation</h3>
                    <a href="/project/{{ project.id }}">
                        <i class="fa fa-align-left" aria-hidden="true"></i>
                        Project description
                    </a><br>
                    <a href="#">
                        <i class="fa fa-history" aria-hidden="true"></i>
                        Release history
                    </a><br>
                    <a href="#">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Download files
                    </a>
                    <hr>

                    <h3>Project links</h3>
                    <a href="{{ project.homepage }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Homepage
                    </a>
                    <hr>

                    <h3>Statistics</h3>

                    <p>View statistics for this project via
                        <a class="link-inline" href="https://libraries.io/pypi/{{ project.id }}">Libraries.io</a>,
                        or by using
                        <a class="link-inline"
                           href="https://packaging.python.org/guides/analyzing-pypi-package-downloads/">Google
                            BigQuery</a>
                    </p>
                    <hr>

                    <h3>Meta</h3>
                    <div class="meta-topic">
                        <span>License</span>: {{ project.license }}
                    </div>

                    <div class="meta-topic">
                        <span>Author</span>: {{ project.author }}
                    </div>
                    <hr>

                    <h3>License</h3>
                    <div class="license">
                        {{ project.license }}
                    </div>

                </div>
                <div class="col-sm-7">
                    <h2>Project description</h2>
                    <pre>{{ project.description }}</pre>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

{% endblock %}
